{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1 class="text-center">Create new post</h1>
            <hr>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create post</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}