{% extends 'base.html.twig' %}

{% block body %}
    <h1>About</h1>
    <hr>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut nisi quis dui ornare consequat ut id augue. Etiam nec condimentum dui, vel vehicula velit. Mauris eu est in dolor ullamcorper aliquet nec non nibh. Sed fermentum magna vel ipsum suscipit, eu vestibulum nulla placerat. Nullam fermentum ac purus in imperdiet. Curabitur vestibulum ullamcorper mi, vel posuere arcu vulputate sed. Suspendisse vehicula porttitor aliquam. Donec sit amet magna hendrerit, elementum urna in, hendrerit tellus. Nulla bibendum et elit nec consequat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent porta ligula massa, in iaculis est porttitor sed.
    </p>
{% endblock %}