<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}SymphBlog{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/app.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/custom.css') }}">
        {% endblock %}
    </head>
    <body>
        {% block navbar %}
            {% include 'init/navbar.html.twig' %}
        {% endblock %}

        <div class="container">
            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}
            <script src="{{ asset('js/jquery.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>

            <script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>
            <script>
                $('.clickable-row').click(function() {
                    console.log('test');
                    location.href = $(this).data('href');
                });

                CKEDITOR.replace( 'article-ckeditor' );
            </script>
        {% endblock %}
    </body>
</html>
